<div class="text-center mt-4">
  <h2>Here are all the <strong>items</strong> you have posted to lend!</h2>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="mt-4 col-sm-12 col-lg-6">
      <% @items.each do |item| %>
        <div class='product-body'>
          <p><strong><%= item.name %></strong></p>
          <p>Located in <strong><%= item.location %></strong></p>
          <p><strong>Description:</strong> <%=item.description%></p>
          <p><strong>Price:</strong> <%= item.price_per_day %> CHF per day </p>
        </div>
      <ul class="list-unstyled hidden-sm hidden-xs padded">
        <li class="text-left">
          <%= link_to "Edit this item", edit_item_path(item), class:"btn btn-primary"%>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to "Back to Home", items_path, class:"btn btn-default btn-lg " %>
</div>
