<div class="text-center mt-4">
  <h2>Here are all the <strong>items</strong> you have posted to lend!</h2>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="mt-4 col-sm-12 col-lg-6">
      <% @items.each do |item| %>
        <div class='product-body'>
          <h2><strong><%= item.name %></strong></h2>
          <h4>Located in <strong><%= item.location %></strong></h4>
          <h4>Description: <%=item.description%></h4>
          <h4>Price: <strong><%= item.price_per_day %>CHF per day </strong></h4>
        </div>
      <ul class="list-unstyled hidden-sm hidden-xs padded">
        <li class="text-right">
          <%= link_to "Edit this item", edit_item_path(item), class:"btn btn-default-black"%>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to "Back to Home", items_path, class:"btn btn-default btn-lg " %>
</div>
