<div class="container">
  <div class="row">
    <div class="mt-4 col-sm-12 col-lg-6">
      <h3>Book <%= @item.name %></h3>
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :user_id %>
        <%= f.input :start_day %>
        <%= f.input :end_day %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <hr>
    <%= link_to 'Back', item_path(@item), class: "btn btn-primary" %>
</div>
