<%= simple_form_for(@item) do |f| %>

    <div class="form-inputs">
      <%= f.input :name, label: 'Tagline for your gear', hint: 'e.g. Amazing jogging stroller ready for adventures' %>
    </div>

    <div class="form-inputs">
      <%= f.input :description, label: 'Add a description', hint: 'Tell us a bit more about the features, condition, quirks, etc. ' %>
    </div>

    <div class="form-inputs">
      <%= f.input :category, collection: ['stroller/pram', 'hiking carrier/backpack','bike trailer'] %>
    </div>

    <div class="form-inputs">
      <%= f.input :location, label: 'Where can someone pick it up?', hint: 'Please only put city. Never your personal address.'%>
    </div>

    <div class="form-inputs">
      <%= f.input :price_per_day %>
    </div>

    <div class="form-actions btn btn-primary mt-4">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
