

<div class="container">
  <%= form_tag(items_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => 'Search'%>
    </div>
  </div>
<% end %>
</div>

<h1>Stuff for rent</h1>

<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, item, id: "link" %><%= link_to 'Edit', edit_item_path(item) %></li>

        <% end %>
</ul>

<%= link_to 'Add gear to lend', new_item_path %>
