<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526301352057-62f44bf4e826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);">
  <div class="container">
    <h1>Stuff for rent</h1>
      <p>Get what you need from your neighboor</p>
  </div>
</div>

<div class="container">
   <%= form_tag items_path, method: :get do %>
    <%= select_tag :what, options_for_select([ "","stroller/pram", "hiking carrier/backpack",  "bike trailer" ], "stroller/pram") %>
    in
    <%= text_field_tag :where,
    params[:where],
    class: "form-control",
    placeholder: "city?"
      %>
    <%= submit_tag "Show me the gear!", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-category mt-4" style="">
      <div class="d-flex justify-content-between m-2">
      <%= link_to item.name, item, id: "link" %><%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to item_path(item),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container mt-4">
  <%= link_to 'Add gear to lend', new_item_path, class:"btn btn-ghost" %>
</div>



