
<div class="container">
  <%= form_tag items_path, method: :get do %>
    <%= text_field_tag :search,
      params[:search],
      class: "form-control",
      placeholder: "bike trailer, etc."
    %>
    <%= submit_tag "Show me the gear!", class: "btn btn-primary" %>
  <% end %>
</div>

<h1>Stuff for rent</h1>

<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, item, id: "link" %><%= link_to 'Edit', edit_item_path(item) %></li>

        <% end %>
</ul>

<%= link_to 'Add gear to lend', new_item_path %>
