<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526301352057-62f44bf4e826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);">
  <div class="container">
    <h1>Mini Gear Lender</h1>
      <p>Rent gear. Lend gear. Have mini adventures.</p>
  </div>
</div>

<div class="container">
<h2>What are you looking for?</h2>
  <div class="container d-flex">
    <div class="container mb-1">
      <%= form_tag items_path, method: :get do %>
      <%= select_tag :what, options_for_select([ "","stroller/pram", "hiking carrier/backpack",  "bike trailer" ], "") %>
    </div>
​
    <div class="container mb-1">
      <%= submit_tag "Show me the gear!", class: "btn btn-primary" %>
    </div>
      <% end %>
  </div>
​</div>

  <div class="container m-7">
    <h2>Gear for rent</h2>
    <div class="cards">
      <% @items.each do |item| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path item.photos.first.key %>)">
          <div class="d-flex justify-content-between m-2">
            <div><a><%= link_to item.name, item_path(item) %></a></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
​
  <% if user_signed_in? %>
    <div class="container mt-2">
      <%= link_to 'Add gear to lend', new_item_path, class:"btn btn-ghost" %>
    </div>
  <% end %>
​


