<div class="container">
  <h1><%= @item.name %></h1>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="container">
        <p><%= @user.email %></p>
        <p><%= @item.location %></p>
        <p><%= @item.category %></p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="container">
        <!-- Map showing the location of the item -->
        <img id="map" src='https://api.mapbox.com/[@item.location]?access_token=pk.eyJ1IjoiZXBhbGFuZGVyIiwiYSI6ImNrOGs5aHE3cjAzMmozbXA2NjIyY3VtbWsifQ.f96OEiie-0YcCe5xKQgtgw'>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <%= link_to 'Back', items_path, class: "btn btn-primary mt-4" %>
  <%= link_to 'Booking', new_item_booking_path(@item), class: "btn btn-primary mt-4" %>
</div>
